html,body{
  height: 100%;
}
html{
  min-width: 320px;
}
body{
  font-family: 'Lato', sans-serif;
}
h1{
  margin:0;
}

#root{
  height: 100%;
}
.main-picture{
  width: 100%;
  height: 100%;
  background-image: url('moto.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.moto{
  width: 70%;
  height: 60%;
  mix-blend-mode: color-dodge;
  opacity: 0.5;
  position: absolute;
  bottom: 10%;
  left: 12%;
  font-size: 30px;
}
.moto-forward{
  width: 250px;
  bottom: 0%;
  right:5%;
}

.moto-aft{
  width: 300px;
  bottom: 0%;
  left:0%;
}

.moto-center{
  width: 250px;
  bottom: 10%;
  left: 40%;
}

.moto-forward, .moto-aft, .moto-center{
  height: 350px;
  position: absolute;
  cursor: pointer;
}
.moto-forward:hover, .moto-aft:hover, .moto-center:hover{
  opacity: 0.3;
  background: blue;
}


.detail{
  width: 80%;
  height: 80%;
  position: fixed;
  top: 10%;
  left: 10%;
  display: flex;
  min-width: 210px;
}

.detail-picture{
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 1;
  min-width: 250px;
}

.detail-text{
  width:100%;
  height: 100%;
  background-color: white;
  padding: 20px 20px 20px 10px;
  box-sizing: border-box;
  min-width: 250px;
}
.detail-text h1{
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0px;
}
.header {
  text-align: center;
  color: white;
}

@media screen and (max-width: 1300px){
  .moto{
    width: 90%;
    left: 5%;
  }
}

@media screen and (max-width: 1000px){
  .moto-forward, .moto-center, .moto-aft{
      width: 150px;
    }
}
@media screen and (max-width:900px){

  .main-picture{
    background-image: url('moto-landscape.png');
  }
  .moto{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .moto-forward, .moto-aft, .moto-center{
    position: static;
    width:250px;
    height: 200px;
  }
  .detail{
    flex-direction: column;
    top: 5%;

  }
}
@media screen and (max-width:768px){
  body{
    font-size: 0.8em;
  }
  .detail ul{
    padding-left: 20px;
  }
}
